
@{
    ViewBag.Title = "Create";
}

<h2>Add New Fruit</h2>
<hr />
<p data-bind="text:name"><b>Product Name</b></p>
<input type="text" data-bind="value:name,valueUpdate:'afterkeydown'" />
<p><b>Description</b></p>
<input type="text" data-bind="value:description,valueUpdate:'afterkeydown'" />
<p><b>Price</b></p>
<input type="text" data-bind="value:price" />
<p><b>Image</b></p>
<input type="text" data-bind="value:image" />
<br />
<input type="button" class="btn btn-default" value="Add" data-bind="click:addFruit" />

<script>
    function ViewModel() {
        var self = this;
        this.name = ko.observable("");
        this.description = ko.observable("");
        this.price = ko.observable("");
        this.image = ko.observable("");

        addFruit = function () {
            alert(self.name);
        }
    }
    ko.applyBindings(new ViewModel());
</script>

