
@{
    ViewBag.Title = "Create";
}
<div>
    <h2>Add New Fruit</h2>
    <hr />
    <p><b>Product Name</b></p>
    <input type="text" data-bind="value:name,valueUpdate:'afterkeydown'" required /> <span data-bind="text:name"></span>
    <p><b>Description</b></p>
    <input type="text" data-bind="value:description,valueUpdate:'afterkeydown'" required /> <span data-bind="text:description"></span>
    <p><b>Price</b></p>
    <input type="text" data-bind="value:price,valueUpdate:'afterkeydown'" required /> <span data-bind="text:price"></span>
    <p><b>Image</b></p>
    <input type="text" data-bind="value:image,valueUpdate:'afterkeydown'" required />
    <br />
    <button class="btn btn-lg btn-primary" data-bind="click:$root.addFruit">Add</button>
</div>
<div>
    <span id="note"></span>
</div>
<script>
    ko.applyBindings(new ViewModel());
</script>

